/.idea/
/Advanced-CSS/01_Natours_Project/node_modules/
/Java/out/
.DS_Store
node_modules/
package-lock.json
/React/moshtutorial/.gitignore
/React/counter-app/.gitignore
/React/expense-tracker/.gitignore
/React/../.gitignore
